@using Umbraco.Cms.Web.Common.PublishedModels;
@using TranslationTokenExample;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<h1>Hello world</h1>
<partial name="ButtonLink" model="@Model.GetLinkFromContent()" />